
body {
  margin: 10px;
  padding: 10px;
  background-image: url("background/1_T2RkznzWBPFp3JM3L7zx5A.png");
}

.login-header {
  color: white;
}

ul li {
  list-style: none;
}

.post-image {
  max-width: 125px;
  max-height: 125px;
  margin-left: auto;
  margin-right: auto 
}

.card {
  text-align: center;
}

.like-btn {
  position: absolute; 
  bottom: 0;
  margin:0 auto;
}

.jumbotron {
  text-align: center;
}

.jumbotron img {
  width: 500px;
  height: 500px;
}

#comment {
  text-align: left;
}

.comment-form {
  max-width: 50%;
}

div.show-container {
  width: 100%;
  min-height: 500px;
  max-height: 500px;
  overflow: scroll;
}

div.login-container {
  max-width: 50%;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
}

div.edit-user-container {
  max-width: 50%;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
}

.user-profile {
  background-color: white;
  padding: 10px;
  min-height: 500px;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.user-posts {
  text-align: left;
  outline: 2px;
}

.user-comments {
  text-align: left;
}

div.post-form-container {
  padding: 10px;
  max-width: 75%;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
}

.show-post-container p {
  text-align: left;
}

.home-page {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

div.posts-container {
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  /* grid-template-columns: 1fr;
  grid-template-rows: auto; */
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;

}

div.home-page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 50%;
}

div.card {
  background-color: #e9ecef;
  height: 250px;
  width: 300px;
  box-shadow: 5px 5px grey;
  padding: 10px;
  border-radius: 0px;
  overflow: hidden
  
}

